Resources:
  # Open the 443 port on default instance Security Group.
  httpsSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

# ElasticBeanstalk environment variables
option_settings:
  aws:elasticbeanstalk:application:environment:
    CERT_NAME: myappmaindomain.com
    CERT_DOMAINS: myapp-prod.us-east-1.elasticbeanstalk.com,api.myappmaindomain.com,myapp2domain.com
    CERT_EMAILS: jdoe@domain.com
    ASPNETCORE_Environment: Production
    ASPNETCORE_AppSettings__MySetting: VALUE
    ASPNETCORE_AppSettings__MySetting2: VALUE

packages: 
  yum:
    amazon-linux-extras: []

container_commands:
  10_installepel:
    command: "sudo amazon-linux-extras install epel"
  20_installcertbot:
    command: "sudo yum -y install certbot python2-certbot-nginx"
  30_getcert:
    command: "sudo certbot certonly --cert-name ${CERT_NAME} --debug --non-interactive --email ${CERT_EMAILS} --agree-tos --standalone --domains ${CERT_DOMAINS} --keep-until-expiring --pre-hook \"service nginx stop\""
  40_cert_link:
    command: "ln -sf /etc/letsencrypt/live/${CERT_NAME} /etc/letsencrypt/live/beanstalkcert"
  50_restartnginx:
    command: "service nginx start"